AI_TOKEN=eyJhbGciOiJIUzM4NCJ9.eyJzY29wZXMiOlsibGxhbWEiLCJzZCIsInlhQXJ0Il0sInN1YiI6ImhhY2thdGhvbl8yNl8xMCIsImlhdCI6MTc3Njk0OTI4NSwiZXhwIjoxNzc3NjQwNDg1fQ.h-Fj4dJ1qbXnxFwsV0mMV-SuHMc8j1j5UCLjNJDxgHrGTHQJtPhyc6GWw91Lp7CA
AI_BASE_URL=https://ai.rt.ru/api/1.0
